.ancla:before {
    display: block;
    content: " ";
    margin-top: -74px;
    height: 74px;
}

.img-logo {
    width: 200px;
}

.text-tickets {
    color: #89c9f2;
}

.text-tickets:hover {
    color: #34a5ec;
}

.text-tickets:visited {
    color: #89c9f2;
}

/* NavBar */
#menuPrincipal {
    background-color: #E20019 !important;
}

.nav-item {
    font-size: 1.15rem;
}

/* carousel */
#main .carousel-item img {
    max-height: 75vh;
    filter: grayscale(70%);
    object-fit: cover;
}

#carousel {
    position: relative;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
}

/* speakers */
.img-speakers {
    height: 100%;
    object-fit: cover;
}

/* lugar y fecha */
.img-site {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-justify {
    text-align: justify;
}

/* formulario */
textarea {
    resize: none;
}

/* palmarés */
#europeanChampion {
    background-image: linear-gradient(45deg, #EEE 25%, transparent 25%, transparent 50%, #EEE 50%, #EEE 75%, transparent 75%, transparent);
    background-color: #003399;
}

#nationalChampion {
    background-image: linear-gradient(45deg, #FABD00 25%, transparent 25%, transparent 50%, #FABD00 50%, #FABD00 75%, transparent 75%, transparent);
    background-color: #AD1519;
}

#worldChampion {
    background-image: linear-gradient(45deg, #EEE 25%, transparent 25%, transparent 50%, #EEE 50%, #EEE 75%, transparent 75%, transparent);
    background-color: #e8b34b;
}

#redRuben{
    background-image: linear-gradient(45deg, #E20019 25%,transparent 25%,transparent 50%,#E20019 50%,#E20019 75%,transparent 75%,transparent);
    background-color: #ff6961;
}

/* calendario */
#tHeader{
    color: white;
    background-color: #E20019;
}

/* sponsors */
#noBorder{
    border: 0px !important;
}

.normalLogo{
    width: 250px !important;
    height: 250px !important;
}

.biggerLogo{
    width: 350px !important;
    height: 250px !important;

}

/* footer */
.footer {
    background-color: #E20019;
    padding: 10px 0px;
}

.footer .row {
    min-height: 100px;
    text-align: center;
}

.footer-items {
    text-decoration: none;
    color: white;
}

.footer-items:hover {
    color: rgb(169, 166, 166);
}

#facebook{
    color: black;
}

#facebook:hover{
    color: #4267B2;
}

#instagram{
    color: black;
}

#instagram:hover{
    color: #405DE6;
}

#twitter{
    color: black;
}

#twitter:hover{
    color: #1DA1F2;
}

#logo-footer{
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    height: 20vw;
}

#logo-footer-md{
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    height: 15vw;
}

#logo-footer-lg{
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 8vw;
}

/* 404 */
#error {
    width: 50vw;
}

body {
    max-width: 100vw;
}

.row {
    margin-right: 0;
}

#button-comprar {
    border: 2px solid black;
    background-color: #E20019;
    color: white;
}

#button-comprar:hover {
    border: 2px solid #E20019;
    background-color: white;
    color: #E20019;
    font-weight: bold;
}