/* TODO: Deprecated? */
/* body {
  margin: 0;
  min-height: 100vh !important;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.body-height{
  min-height: 100vh !important;
} */

/* MIDU CSS RESET June 2024 */

* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg {height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

/* CUSTOM CSS RESET */
::selection {
	background-color: #e2001a;
  color: white;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 4px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

body.app-mode-dark {
	background-color: #333;
	color: white;
}

body.app-mode-light {
	background-color: #ededed;
	color: black;
}

.invert-color{
  filter:invert(100%);
}